<?xml version="1.0"?>
<!--
  ~ Magmodules.eu - http://www.magmodules.eu
  ~
  ~ NOTICE OF LICENSE
  ~ This source file is subject to the Open Software License (OSL 3.0)
  ~ that is bundled with this package in the file LICENSE.txt.
  ~ It is also available through the world-wide-web at this URL:
  ~ http://opensource.org/licenses/osl-3.0.php
  ~ If you did not receive a copy of the license and are unable to
  ~ obtain it through the world-wide-web, please send an email
  ~ to info@magmodules.eu so we can send you a copy immediately.
  ~
  ~ @category      Magmodules
  ~ @package       Magmodules_WebwinkelKeur
  ~ @author        Magmodules <info@magmodules.eu>
  ~ @copyright     Copyright (c) 2017 (http://www.magmodules.eu)
  ~ @license       http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
  ~
  -->
<config>
    <modules>
        <Magmodules_Webwinkelconnect>
            <version>1.1.4</version>
        </Magmodules_Webwinkelconnect>
    </modules>
    <global>
        <models>
            <webwinkelconnect>
                <class>Magmodules_Webwinkelconnect_Model</class>
                <resourceModel>webwinkelconnect_mysql4</resourceModel>
            </webwinkelconnect>
            <webwinkelconnect_mysql4>
                <class>Magmodules_Webwinkelconnect_Model_Mysql4</class>
                <entities>
                    <reviews>
                        <table>webwinkelconnect_reviews</table>
                    </reviews>
                    <stats>
                        <table>webwinkelconnect_stats</table>
                    </stats>
                    <log>
                        <table>webwinkelconnect_log</table>
                    </log>
                </entities>
            </webwinkelconnect_mysql4>
        </models>
        <resources>
            <webwinkelconnect_setup>
                <setup>
                    <module>Magmodules_Webwinkelconnect</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </webwinkelconnect_setup>
            <webwinkelconnect_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </webwinkelconnect_write>
            <webwinkelconnect_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </webwinkelconnect_read>
        </resources>
        <helpers>
            <webwinkelconnect>
                <class>Magmodules_Webwinkelconnect_Helper</class>
            </webwinkelconnect>
        </helpers>
        <blocks>
            <webwinkelconnect>
                <class>Magmodules_Webwinkelconnect_Block</class>
            </webwinkelconnect>
        </blocks>
        <events>
            <sales_order_shipment_save_after>
                <observers>
                    <connector>
                        <type>singleton</type>
                        <class>webwinkelconnect/observer</class>
                        <method>processInvitationcallAfterShipment</method>
                    </connector>
                </observers>
            </sales_order_shipment_save_after>
            <sales_order_save_commit_after>
                <observers>
                    <connector>
                        <type>singleton</type>
                        <class>webwinkelconnect/observer</class>
                        <method>processInvitationcall</method>
                    </connector>
                </observers>
            </sales_order_save_commit_after>
        </events>
    </global>
    <frontend>
        <routers>
            <webwinkelconnect>
                <use>standard</use>
                <args>
                    <module>Magmodules_Webwinkelconnect</module>
                    <frontName>webwinkelkeur</frontName>
                </args>
            </webwinkelconnect>
        </routers>
        <layout>
            <updates>
                <webwinkelconnect>
                    <file>magmodules_webwinkelconnect.xml</file>
                </webwinkelconnect>
            </updates>
        </layout>
        <translate>
            <modules>
                <magmodules_webwinkelconnect>
                    <files>
                        <default>Magmodules_Webwinkelconnect.csv</default>
                    </files>
                </magmodules_webwinkelconnect>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <magmodules_webwinkelconnect>
                    <file>magmodules_webwinkelconnect.xml</file>
                </magmodules_webwinkelconnect>
            </updates>
        </layout>
        <translate>
            <modules>
                <magmodules_webwinkelconnect>
                    <files>
                        <default>Magmodules_Webwinkelconnect.csv</default>
                    </files>
                </magmodules_webwinkelconnect>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <magmodules_webwinkelconnect after="Mage_Adminhtml">Magmodules_Webwinkelconnect_Adminhtml</magmodules_webwinkelconnect>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <magmodules_webwinkelconnect_stats>
                <schedule>
                    <config_path>webwinkelconnect/reviews/cron_stats</config_path>
                </schedule>
                <run>
                    <model>webwinkelconnect/observer::processStats</model>
                </run>
            </magmodules_webwinkelconnect_stats>
            <magmodules_webwinkelconnect_reviews>
                <schedule>
                    <config_path>webwinkelconnect/reviews/cron_reviews</config_path>
                </schedule>
                <run>
                    <model>webwinkelconnect/observer::processReviews</model>
                </run>
            </magmodules_webwinkelconnect_reviews>
            <magmodules_webwinkelconnect_reviewhistory>
                <schedule>
                    <config_path>webwinkelconnect/reviews/cron_all</config_path>
                </schedule>
                <run>
                    <model>webwinkelconnect/observer::processHistory</model>
                </run>
            </magmodules_webwinkelconnect_reviewhistory>
            <magmodules_webwinkelconnect_cleanlog>
                <schedule>
                    <cron_expr>0 02 * * *</cron_expr>
                </schedule>
                <run>
                    <model>webwinkelconnect/observer::cleanLog</model>
                </run>
            </magmodules_webwinkelconnect_cleanlog>
        </jobs>
    </crontab>
    <default>
        <webwinkelconnect>
            <general>
                <enabled>0</enabled>
            </general>
            <reviews>
                <cron>0</cron>
                <cron_stats>*/15 * * * *</cron_stats>
                <cron_reviews>0 */2 * * *</cron_reviews>
                <cron_all>0 2 * * 0</cron_all>
            </reviews>
            <sidebar>
                <left>0</left>
                <left_qty>3</left_qty>
                <left_lenght>150</left_lenght>
                <left_link>external</left_link>
                <right>0</right>
                <right_qty>3</right_qty>
                <right_lenght>150</right_lenght>
                <right_link>external</right_link>
            </sidebar>
            <snippets>
                <sidebar>1</sidebar>
            </snippets>
            <overview>
                <enabled>0</enabled>
                <enable_paging>1</enable_paging>
                <paging_settings>10,20,30</paging_settings>
                <meta_title>WebwinkelKeur Reviews</meta_title>
                <meta_description>WebwinkelKeur Reviews overview page</meta_description>
                <meta_keywords>reviews, WebwinkelKeur</meta_keywords>
            </overview>
            <invitation>
                <enabled>0</enabled>
                <status>complete</status>
                <delay>5</delay>
                <backlog>20</backlog>
            </invitation>
            <frontend>
                <enabled>0</enabled>
                <tooltip>0</tooltip>
                <sidebar_position>left</sidebar_position>
                <sidebar_height>120</sidebar_height>
            </frontend>
            <log>
                <enabled>1</enabled>
                <clean>1</clean>
                <clean_days>14</clean_days>
            </log>
        </webwinkelconnect>
    </default>
</config>