<?xml version="1.0"?>
<!--
  ~ Magmodules.eu - http://www.magmodules.eu
  ~
  ~ NOTICE OF LICENSE
  ~ This source file is subject to the Open Software License (OSL 3.0)
  ~ that is bundled with this package in the file LICENSE.txt.
  ~ It is also available through the world-wide-web at this URL:
  ~ http://opensource.org/licenses/osl-3.0.php
  ~ If you did not receive a copy of the license and are unable to
  ~ obtain it through the world-wide-web, please send an email
  ~ to info@magmodules.eu so we can send you a copy immediately.
  ~
  ~ @category      Magmodules
  ~ @package       Magmodules_WebwinkelKeur
  ~ @author        Magmodules <info@magmodules.eu>
  ~ @copyright     Copyright (c) 2017 (http://www.magmodules.eu)
  ~ @license       http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
  ~
  -->
<config>
    <tabs>
        <magmodules translate="label" module="webwinkelconnect">
            <label>Magmodules</label>
            <sort_order>200</sort_order>
        </magmodules>
    </tabs>
    <sections>
        <webwinkelconnect translate="label" module="webwinkelconnect">
            <label>WebwinkelKeur</label>
            <tab>magmodules</tab>
            <frontend_type>text</frontend_type>
            <sort_order>123</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <info>
                    <frontend_model>webwinkelconnect/adminhtml_widget_info_info</frontend_model>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </info>
                <general translate="label" module="webwinkelconnect">
                    <label>General Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <comment><![CDATA[You can find the necessary information by logging in at https://dashboard.webwinkelkeur.nl. Navigate to Installation > Wizard and follow the installation instructions. As addition next to the activation of this extension we also recommend you to follow the installation wizard and install the WebwinkelKeur widget and banners.<br/><br/>]]></comment>
                    <fields>
                        <version translate="label">
                            <label>Extension Version</label>
                            <frontend_type>text</frontend_type>
                            <frontend_model>webwinkelconnect/adminhtml_system_version</frontend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </version>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                <![CDATA[
									<script>				
										Event.observe(window, 'load', function() {
											if ($('webwinkelconnect_reviews_lastrun')) {
												$('webwinkelconnect_reviews_lastrun').style.backgroundColor='#f0f0f0';
												$('webwinkelconnect_reviews_lastrun').disable();
											}
										});							
									</script>
								]]>
                            </comment>
                        </enabled>
                        <heading_api translate="label">
                            <label>API CREDENTIALS</label>
                            <frontend_model>webwinkelconnect/adminhtml_widget_form_heading</frontend_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </heading_api>
                        <api_id translate="label">
                            <label>Webshop ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip>You can find this information in your WebwinkelKeur account</tooltip>
                        </api_id>
                        <api_key translate="label">
                            <label>API Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip>You can find this information in your WebwinkelKeur account</tooltip>
                        </api_key>
                    </fields>
                </general>
                <invitation translate="label">
                    <label>Invitation to write review</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <comment><![CDATA[WebwinkelKeur can invite your customers to write customer reviews. It’s also possible to activate an extra reminder using the settings at https://dashboard.webwinkelkeur.nl. <strong>Note:</strong> this feature is only available to PLUS & EU members.<br/><br/>]]></comment>
                    <fields>
                        <enabled translate="label">
                            <label>Activate</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Send invitation?</comment>
                            <tooltip>Send customers automatically receive an invitation to share a customer experience. This feature is only available for WebwinkelKeur PLUS members.</tooltip>
                        </enabled>
                        <language>
                            <label>Language</label>
                            <frontend_type>select</frontend_type>
                            <source_model>webwinkelconnect/system_config_source_language</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <can_be_empty>1</can_be_empty>
                            <comment>Language of the review invitation email, leave empty for default language. Option only available for member with an EU membership</comment>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </language>
                        <status>
                            <label>Order is Completed with status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>webwinkelconnect/system_config_source_orderstatus</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <can_be_empty>1</can_be_empty>
                            <comment>Invitation e-mail is sent after such status is achieved</comment>
                            <tooltip>Specify at which status you want to send the invitation. Default is Completed</tooltip>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </status>
                        <delay translate="label">
                            <label>Delay</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Send the invitation x days after the order is completed</comment>
                            <tooltip>This will ensure that the customer receives the invitation shortly after receiving the product and not before. This increases the opportunity that the client will share his experience.</tooltip>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </delay>
                        <backlog translate="label">
                            <label>Maximum Delay</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Change only if necessary</comment>
                            <tooltip>Number of days to complete order may last, if it takes longer then no invitation will be sent. Read more about this feature on Webwinkelkeur.nl.</tooltip>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </backlog>
                    </fields>
                </invitation>
                <privacy_first_option translate="label,comment">
                    <label><![CDATA[Privacy first option]]></label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <privacy_popup translate="label,comment">
                            <label><![CDATA[Pop-up after purchase at "thank you" page.]]></label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Privacy first review option: order data will only be shared after permission from the customer.]]></comment>
                        </privacy_popup>
                    </fields>
                </privacy_first_option>
                <product_review_invites translate="label,comment">
                    <label><![CDATA[Invitation to write product review]]></label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <comment><![CDATA[WebwinkelKeur can invite your customers to write product reviews.<br/><br/>]]></comment>
                    <fields>
                        <enabled translate="label,comment">
                            <label><![CDATA[Activate]]></label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Send product review invitation?]]></comment>
                        </enabled>
                        <rating translate="label,comment">
                            <label><![CDATA[Rating]]></label>
                            <frontend_type>select</frontend_type>
                            <source_model>Magmodules_Webwinkelconnect_Model_Rating</source_model>
                            <depends><enabled>1</enabled></depends>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[You can have multiple types of reviews for a product in your Magento shop. Via WebwinkelKeur, you get 1 overall product review each time. Which type in Magento do you want to link this to?]]></comment>
                        </rating>
                    </fields>
                </product_review_invites>
                <frontend translate="label">
                    <label>WebwinkelKeur Javascript integration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <comment><![CDATA[The WebwinkelKeur javascript integration ensures that your WebwinkelKeur to load page on your own web store. Now customers don't have to leave your store anymore to read the reviews.<br>This effectively increases your conversion. The display of the javascript integration can be personalized via https://dashboard.webwinkelkeur.nl.<br>In your dashboard you will find under the option the personalization options such as how the sidebar is displayed and if it is activated on the mobile.<br><br>]]></comment>
                    <fields>
                        <enabled translate="label">
                            <label>Javascript Integration</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Activate the javascript integration.</comment>
                            <tooltip>Showing the sidebar ensures a higher confidence. Visitors can read the reviews without leaving the store.</tooltip>
                        </enabled>
                    </fields>
                </frontend>
                <reviews translate="label" module="webwinkelconnect">
                    <label>WebwinkelKeur Import Reviews</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <comment><![CDATA[To display the latest reviews in your store, you must import the reviews. This can be done automatically or manually. This feature is only available to PLUS members.<br/><br/>]]></comment>
                    <fields>
                        <cron translate="label">
                            <label>Import Automatically</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip>Use the Magento Cronjob to use the automatically import. A cronjob is a daemon which keeps running and gets activated at a said interval (time period). Please make sure your default Magento Cron is working. If not, contact your hosting company for help.</tooltip>
                        </cron>
                        <cron_stats translate="label">
                            <label>Update Summary</label>
                            <frontend_type>select</frontend_type>
                            <source_model>webwinkelconnect/system_config_source_cronfrequency</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <cron>1</cron>
                            </depends>
                            <tooltip>Select the schedule for automatic updating</tooltip>
                        </cron_stats>
                        <cron_reviews translate="label">
                            <label>Update Reviews</label>
                            <frontend_type>select</frontend_type>
                            <source_model>webwinkelconnect/system_config_source_cronfrequency</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <cron>1</cron>
                            </depends>
                            <tooltip>Select the schedule for automatic updating</tooltip>
                        </cron_reviews>
                        <cron_all translate="label">
                            <label>Update Review History</label>
                            <frontend_type>select</frontend_type>
                            <source_model>webwinkelconnect/system_config_source_cronfrequencylong</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <cron>1</cron>
                            </depends>
                            <tooltip>Select the schedule for automatic updating</tooltip>
                        </cron_all>
                        <lastrun translate="label">
                            <label>Last Update</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </lastrun>
                        <process translate="label">
                            <label>Process Manually</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>webwinkelconnect/adminhtml_widget_buttons_process</frontend_model>
                            <sort_order>101</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </process>
                    </fields>
                </reviews>
                <sidebar translate="label">
                    <label>Latest Reviews Visibility</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>6</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <comment><![CDATA[Show the latest reviews directly in the right or left area of your store to gain trust and directly show your client reviews. To use this feature Importing reviews should be enabled. You can use this option instead of the WebwinkelKeur wizard to style the latest reviews yourself using CSS.<br/><br/>]]></comment>
                    <fields>
                        <left_heading translate="label">
                            <label>Left Sidebar</label>
                            <frontend_model>webwinkelconnect/adminhtml_widget_form_heading</frontend_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </left_heading>
                        <left translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>51</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </left>
                        <left_qty translate="label">
                            <label>Number of Reviews</label>
                            <validate>validate-number</validate>
                            <frontend_type>text</frontend_type>
                            <sort_order>53</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <left>1</left>
                            </depends>
                        </left_qty>
                        <left_lenght translate="label">
                            <label>Character length of Reviews</label>
                            <validate>validate-number</validate>
                            <frontend_type>text</frontend_type>
                            <sort_order>54</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <left>1</left>
                            </depends>
                        </left_lenght>
                        <left_link translate="label">
                            <label>Link to</label>
                            <frontend_type>select</frontend_type>
                            <source_model>webwinkelconnect/system_config_source_sidebarlink</source_model>
                            <sort_order>55</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <left>1</left>
                            </depends>
                        </left_link>
                        <left_snippets translate="label">
                            <label>Add Rich Snippets</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>56</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <left>1</left>
                            </depends>
                        </left_snippets>
                        <right_heading translate="label">
                            <label>Right Sidebar</label>
                            <frontend_model>webwinkelconnect/adminhtml_widget_form_heading</frontend_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </right_heading>
                        <right translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>61</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </right>
                        <right_qty translate="label">
                            <label>Number of Reviews</label>
                            <validate>validate-number</validate>
                            <frontend_type>text</frontend_type>
                            <sort_order>63</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <right>1</right>
                            </depends>
                        </right_qty>
                        <right_lenght translate="label">
                            <label>Character length of Reviews</label>
                            <validate>validate-number</validate>
                            <frontend_type>text</frontend_type>
                            <sort_order>64</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <right>1</right>
                            </depends>
                        </right_lenght>
                        <right_link translate="label">
                            <label>Link to</label>
                            <frontend_type>select</frontend_type>
                            <source_model>webwinkelconnect/system_config_source_sidebarlink</source_model>
                            <sort_order>65</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <right>1</right>
                            </depends>
                        </right_link>
                        <right_snippets translate="label">
                            <label>Add Rich Snippets</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>66</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <right>1</right>
                            </depends>
                        </right_snippets>
                    </fields>
                </sidebar>
                <overview translate="label">
                    <label>WebwinkelKeur Overview Page</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>8</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <comment><![CDATA[We can import your customer reviews and display them in your store as new content. To use this feature Importing reviews should be enabled. Eg. link: http://www.mywebshop.com/<strong>webwinkelkeur</strong><br><br>]]></comment>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <enable_paging>
                            <label>Pagination</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Pagination is the process of dividing (content) into discrete pages</comment>
                        </enable_paging>
                        <paging_settings>
                            <label>Reviews per page</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip>Comma Separated, as: 10,20,30</tooltip>
                            <depends>
                                <enable_paging>1</enable_paging>
                            </depends>
                        </paging_settings>
                        <heading_meta translate="label">
                            <label>Meta Data</label>
                            <frontend_model>webwinkelconnect/adminhtml_widget_form_heading</frontend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </heading_meta>
                        <meta_title translate="lable">
                            <label>Meta Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </meta_title>
                        <meta_description translate="lable">
                            <label>Meta Description</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </meta_description>
                        <meta_keywords translate="label">
                            <label>Meta Keywords</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </meta_keywords>
                    </fields>
                </overview>
                <log translate="label">
                    <label>WebwinkelKeur Log Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>9</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <expanded>1</expanded>
                    <comment><![CDATA[Logs can be activated in order to detect errors. This feature is particularly for developers.<br/><br/>]]></comment>
                    <fields>
                        <enabled translate="label">
                            <label>Enable Log Function</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enabled>
                        <clean translate="label">
                            <label>Auto Cleaning</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </clean>
                        <clean_days translate="label">
                            <label>Clean After Days</label>
                            <validate>validate-number</validate>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </clean_days>
                    </fields>
                </log>
                <snippets translate="label">
                    <label>WebwinkelKeur Custom Blocks</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <comment><![CDATA[<p>The extension comes with two coded blocks. With this blocks you can add  your store rating in a Static block or CMS page.</p><p><br><strong>The Rich Snippets Block.<br></strong>Show your Store-rating with this block and generate results in the Google Search Engine Results better known as Rich Snippets.<br>Paste the code  below at the desired location using a Static Block or a CMS page.</p><p>Code: {{block type="webwinkelconnect/snippets" name="webwinkelsnippets"}}</p><p><br><strong>Custom Block.</strong><br>With this block you can create  custom block for footer of header, you can paste the code  below at the desired location using a Static Block or a CMS page.<br>To edit this block you need to edit the .phtml file located in the following path: app/design/frontend/base/default/template/magmodules/webwinkelconnect/widget/custom.phtml</p><p>Code: {{block type="webwinkelconnect/custom" name="webwinkelkeur"}}</p>]]></comment>
                </snippets>
            </groups>
        </webwinkelconnect>
    </sections>
</config>